// font
$montserrat-medium: "MontserratMedium", "Arial", sans-serif;
$montserrat-semibold: "MontserratSemibold", "Arial", sans-serif;
$opensans: "OpenSans", "Arial", sans-serif;
$montserrat: "Montserrat", "Arial", sans-serif;

// color
$w: #ffffff;
$b: #000000;

// bg

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
