// font
$lato: "Lato", "Arial", sans-serif;

// color
$w: #ffffff;
$b: #000000;
$white1: #fff8ef;
$black1: #232323;
$grey1: #e5e5e5;
$grey2: #bdc8d9;
$gold1: #dda859;
$red1: #db0707;
$red2: #ec2808;
$pink1: #edd9d9;
$pink2: #f4e4f9;
$violet1: #765f7d;
$violet2: #714271;
$violet3: #9a2069;

// bg
$violet-bg: #2d1632;

// @media
$media-dt: 992px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
