// font
$lato: "Lato", "Arial", sans-serif;

// color
$w: #ffffff;
$b: #000000;
$grey1: #e5e5e5;
$gold1: #dda859;
$red1: #db0707;
$pink1: #edd9d9;

// bg

// @media
$media-dt: 1024px;
$media-tb: 768px;
$media-mb: 320px;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
